!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Nano Notes for iPhone, iPad, and Apple Watch
    %link{:rel => "stylesheet", :href => "style.css?new", :type => "text/css"}
    %link{:rel => "canonical", :href => "https://www.studioamanga.com/nanonotes/"}
    %link{:rel => "shortcut icon", :href => "https://www.studioamanga.com/img/favicon.ico"}
    %meta{:name => "description", :content => "Take notes on your iPhone, read them on your Apple Watch!"}
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "apple-itunes-app", :content => "app-id=1445942906"}
  %body
    %nav.general
      %a{:href => "https://www.studioamanga.com/"}
        %img{:alt => "StdAMG", :src => "img/icon-amg.png"}
        %span Studio AMANgA

    %header.top.cropped-bottom
      %div.title
        %img.icon{:alt => "Icon", :src => "img/icon-72-2x.png"}
        %h1 Nano Notes
      %div
        %img.showcase{:alt => "Screens", :src => "img/screens.png"}

    %section.main
      %p.tagline
        Take notes on your iPhone, read them on your Apple&nbsp;Watch!
        %blockquote
          %q On my watch all the time now!
          ★★★★★
        %blockquote
          %q This app is just what I was looking for.
          ★★★★★

      %p.download
        %a{:href => "https://apps.apple.com/app/id1445942906"}
          %img{:alt => "Download on the App Store", :src => "img/download-appstore.svg"}/

      %p
        %a{:href => "https://apps.apple.com/app/id1445942906"}
          Download Nano Notes for free on the App Store.

    %footer
      %a{:href => "https://www.studioamanga.com"}
        %img{:alt => "StdAMG", :src => "img/amgmini-black.png"}/
      %p
        “Nano Notes” for iPhone, iPad, iPod touch, and Apple Watch
        %br
        Available in English, French, German, Japanese, Korean, and Simplified Chinese
        %br
        %a{:href => "releasenotes"}> Release Notes
        ,
        %a{:href => "privacy-policy"}Privacy Policy
        %br
        Made by Studio AMANgA 2019-2021
